.hero__bg {
  background-image: url('https://picsum.photos/id/412/1200/800');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: white;
  min-width: 2000px;
  min-height: 565px;
}

.hero {
  overflow: hidden;
}

.hero h1 {
  font-weight: 300;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 1px;
  margin-bottom: 65px;
  word-wrap: break-word;
}

.hero__audio-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero__content {
  margin-top: 160px;
  width: 100%;
  max-width: 450px;
}

@media only screen and (max-width: 650px) {
  .hero__bg {
    min-width: 100%;
  }

  .hero__container {
    overflow: hidden;
  }
}
