@import '../../styles/colors.scss';

.informative {
    background-color: $primary;
    color: $white;
    padding-top: 175px;
    position: relative;
    z-index: -2;
    top: -85px;
    padding-bottom: 0;
    margin-bottom: 128px;
}

.informative__content {
    display: flex;
    width: 100%;
}

.informative__subtitle {
    background-color: $info-bg;
    display: flex;
    justify-content: center;
    color: $primary;
    margin: 0 5px;
    font-size: 26px;
    line-height: 34px;
    padding: 2px;
}

.informative h4 {
    font-size: 16px;
    line-height: 19px;
}

.informative p {
    font-size: 16px;
    line-height: 28px;
    margin: 8px;
}

.informative__ruler-img {
    padding-top: 90px;
    width: 100%;
    position: relative;
    top: 4px;
}

.informative__row {
    margin: 0 50px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

    .informative {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 365px) {

    .informative__subtitle {
        font-size: 20px;
    }

}