$primary: #242032;
$secondary: #E6E6E6;
$white: #FFFFFF;
$text-seconday: #6F6F70;
$text-link: #262330;
$title: #1D1A27;
$nav-text: #292929;
$nav-list-bg: #F1F1F1;
$nav-list-bg-hover: #252033;
$info-bg: #EDEDED;


