@import './colors.scss';

@font-face {
  font-family: 'Klavika';
  src: url('../assets/fonts/klavika-medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Klavika';
  src: url('../assets/fonts/klavika-bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Klavika';
  src: url('../assets/fonts/klavika-light.otf');
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Klavika';
  font-weight: 300;
  background-color: white;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 1px;
  color: $title;
}

.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 38px;
    width : 100%;
    margin-right: 5px;
  }
}
