@import '../../styles/colors.scss';

.product {
  margin-bottom: 130px;
  overflow: hidden;
}

.product__bg {
  background-color: $primary;
  width: 2000px;
  height: 700px;
  position: relative;
  right: 160px;
  top: 0;
  z-index: -3;
}

.product__content {
  position: relative;
}

.product__content .product__image {
  width: 100%;
  margin-right: 85px;
}

.product__content p {
  font-size: 16px;
  line-height: 28px;
  color: $text-seconday;
  margin-bottom: 40px;
}

.product__content a {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-link;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 20px;

  &:hover {
    opacity: 0.7;
    transition: 0.2;
  }
}

.product__content a i {
  margin-left: 5px;
}

@media only screen and (max-width: 768px) {
  .product__bg {
    display: none;
  }
}
