@import '../../styles/colors.scss';

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.logo-bg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  max-height: 224px;
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: $primary;
  top: 0;
}

.logo-image {
  width: 100%;
}

.nav {
  display: flex;
  background-color: $white;
  justify-content: center;
  width: 100%;
}

.nav__wrapper {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  background-color: $white;
}

.nav a {
  display: block;
  font-weight: 700;
  color: $nav-text;
  padding: 10px 17px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__dropdown-content {
  display: none;
  position: absolute;
  background-color: $nav-list-bg;
  min-width: 160px;
  max-width: 175px;
  z-index: 1;
}

.nav__dropdown--lang {
  font-weight: 700;
  color: $nav-text;
  padding: 10px 17px;
  text-transform: uppercase;
}

.nav__dropdown--lang a {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: $nav-text;
}

.nav__dropdown-content--lang {
  min-width: 60px;
}

.nav__dropdown-content a {
  color: $text-seconday;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 17px;
  text-decoration: none;
  display: block;
  text-transform: none;
}

.nav__dropdown-content a:hover {
  background-color: $nav-list-bg-hover;
  opacity: 1;
  color: $white;
}

.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}

.menu {
  display: none;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  right: 10px;
}

.menu__line {
  width: 100%;
  height: 3px;
  background-color: $primary;
  border: none;
  margin: 5px 0;
}

.menu__line.active {
  transform: rotate(45deg);
  width: 60%;
  position: absolute;
  transition: 0.3s;
}

.menu__line:nth-child(2).active {
  display: none;
}

.menu__line:last-child.active {
  margin-left: 0;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 1024px) {


  .nav {
    padding-left: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .header__content {
    height: 80px;
    justify-content: flex-end;
  }

  .logo-bg {
    left: 0;
  }

  .nav {
    display: none;
  }

  .nav__dropdown--lang {
    display: none;
  }

  .menu {
    display: block;
    z-index: 4;
  }

  .menu.active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
