@import '../../styles/colors.scss';

.footer {
  margin-bottom: 70px;
}

.footer a:hover {
  opacity: 0.7;
  transition: 0.2;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__nav a {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $title;
}

.footer__nav a:last-child {
  margin-right: 0;
}

.footer__image {
  width: 100%;
  margin-bottom: 80px;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
}

.footer__caba-logo {
  display: flex;
  justify-content: center;
}

.footer__socials-icon {
  margin: 0 20px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.footer__text {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .footer__nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__text {
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer__caba-logo {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .footer__nav-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .footer__nav-content a {
    margin: 10px 0;
  }

  .footer__container {
    overflow: hidden;
  }
}
