@import '../../styles/colors.scss';

.news {
  background-color: $secondary;
  position: relative;
  padding-top: 80px;
  padding-bottom: 155px;
}

.news__bg {
  width: 240px;
  height: 870px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $primary;
}

@media only screen and (max-width: 1024px) {
  .news__bg {
    height: 760px;
  }
}

@media only screen and (max-width: 768px) {
  .news__bg {
    height: 100%;
    width: 120px;
  }

  .news__text {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 520px) {
  .news__bg {
    display: none;
  }
}
