.map__image {
  width: 100%;
  margin-bottom: 110px;
}

.map h2 {
  padding-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .map {
    padding-top: 40px;
  }

  .map__container {
    overflow: hidden;
  }
  
}
