.image__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 375px;
  max-width: 570px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 55, 66, 0.4);
  z-index: 1;
}

.image__text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-right: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .image__wrapper {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
